.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,0.24);
  background-color: white;
}

mat-toolbar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.mat-list-item {
  text-decoration: none;
  color: black;
}

.mat-list-item h1,
.mat-list-item h3 {
  margin: 0;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 0%;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0%;
}