<div class="container">
  <div class="card" style="margin-left: 60px;">
    <div class="card-body">

      <h1>Complaints Form</h1>
      <form>
        <div>
          <label for="text">Topic:</label>
          <br>
          <input type="text" id="text" name="complaint" required #box1>
        </div>
        <div>
          <label for="password">Please enter your complaint in the box below:</label>
          <br>
          <input type="text" name="complaint" size="70" style="height: 200px" #box2>
        </div>
        <button type="submit" style="margin-top: 2%;" (click)="registerComplaint(box1.value, box2.value)">Submit</button>
      </form>

    </div>
  </div>
</div>